#yeti { 
	background-image:url('../img/yeti.png'); 
	position:absolute; 
	bottom:0; 
	right:0; 
	height:82px; 
	width:128px;
}

#yeti:hover { 
	background-image:url('../img/yeti-over.png'); 
	height:128px; 
	width:232px;
}