html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
}

p
{
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 150%;
}

.list li
{
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 150%;
}


h1, h2
{
    font-family: 'etica', 'Open Sans', Arial, Verdana;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0px;
}

h3
{
    font-family: 'etica', 'Open Sans', Arial, Verdana;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 0px;
}


.headline
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

footer
{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCCCCC;
    padding-top: 10px;
    clear: both;
    height: 100px;
}


img
{
    border: 0;
}

header, section
{
    display: block;
}

.centerSection
{
    width: 900px;
    margin: auto;
}

.text
{
    font-size: 14px;
    font-family: Verdana;
}

.smallText
{
    font-size: 10px;
}

.highlight
{
    background-color: #FFC;
}

.leftColumn
{
    width: 550px;
    text-align: left;
    float: left;
    margin-right: 0px;
}

.rightColumn
{
    width: 290px;
    margin-left: 20px;
    text-align: left;
    float: right;
}

body
{
    background-repeat: repeat-x;
    background-color: #fcfcfc;
    font-family: Verdana, san-sarif; /* Adjust body font here */
    font-size: 100%;
    color: black;
    margin: 0 auto;
    padding-bottom: 36px;
}

#logo
{
    margin-top: 20px;
}

.content, #content
{
    margin-top: 16px;
}

q
{
    quotes: none;
}

    q:before, q:after
    {
        content: '';
        content: none;
    }

.testimonial
{
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 150%;
}

    .testimonial a
    {
        color: black;
        text-decoration: none;
    }

.inline-block
{
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.portrait
{
    width: 77px;
    height: 77px;
    vertical-align: middle;
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;
}

.quote
{
    height: 77px;
    margin-left: 0px;
    vertical-align: middle;
}

    .quote h4
    {
        margin: 0 0 0.25em 0;
    }


#languageSwitcherWrapper
{
    position: absolute;
    top: 1em;
    right: 0;
    text-align: left;
    font-size: 12px;
    margin-right: 2px;
}

#globalNavigation
{
    background: url(http://c441723.r23.cf2.rackcdn.com/tab_background.png);
    height: 82px;
    text-align: center;
    margin: 0 auto 10px;
}

    #globalNavigation > ul
    {
        list-style: none;
        margin: 0 auto;
        width: 618px;
        padding-right: 40px;
    }

        #globalNavigation > ul > li
        {
            float: left;
        }

            #globalNavigation > ul > li > a
            {
                display: block;
            }

            #globalNavigation > ul > li.mik > a
            {
                background: url(http://c441723.r23.cf2.rackcdn.com/tab_mik.png) no-repeat;
                height: 77px;
                width: 190px;
            }

                #globalNavigation > ul > li.mik > a:hover, #MIKGLOBAL_topnav > ul > li.mik > a.selected
                {
                    background-position: 0 -82px;
                }

            #globalNavigation > ul > li.pn > a
            {
                background: url(http://c441723.r23.cf2.rackcdn.com/tab_pn.png) no-repeat;
                height: 77px;
                width: 235px;
            }

                #globalNavigation > ul > li.pn > a:hover, #MIKGLOBAL_topnav > ul > li.pn > a.selected
                {
                    background-position: 0 -82px;
                }

            #globalNavigation > ul > li.mashup > a
            {
                background: url(http://c758895.r95.cf2.rackcdn.com/tab_mashup.png) no-repeat;
                height: 77px;
                width: 193px;
            }

                #globalNavigation > ul > li.mashup > a:hover, #MIKGLOBAL_topnav > ul > li.mashup > a.selected
                {
                    background-position: 0 -82px;
                }

            #globalNavigation > ul > li > a span
            {
                display: none;
            }

/* Button styles */
.buyButton
{
    width: 250px;
    height: 40px;
    color: #FFF;
    outline: 0;
    text-decoration: none;
    margin: 2px 0 0 0;
    text-align: left;
    font-family: "Arial Rounded", ArialRound, ArialRounded, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 28px 0 0 78px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

    .buyButton:hover
    {
        outline: 0;
        text-decoration: underline;
    }

    .buyButton.windows
    {
        background: transparent url('/Cloud/buyWindows.png') no-repeat;
    }

    .buyButton.mac
    {
        background: transparent url('/Cloud/buyMacOSX.png') no-repeat;
    }

    .buyButton.upgrade
    {
        background: transparent url('/Cloud/buyUpgrade.png') no-repeat;
    }

/* Simple Button */

.simpleButton
{
    height: 48px;
    text-align: center;
    margin-top: 1em;
    list-style: none;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    min-width: 200px;
    float: right;
    padding-bottom: 12px;
}

    .simpleButton > li
    {
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        border-right: 2px solid #dedede;
        background-color: #f1f1f1;
        background-image: -o-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
        color: #858585;
        text-decoration: none;
        text-shadow: 0px 0px 6px #ffffff;
        -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
        -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
        box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.15);
        border-left: 2px solid #dedede;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-right: 2px solid #dedede;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .simpleButton a
    {
        font-family: "Arial Rounded", ArialRound, ArialRounded, Arial, san-sarif;
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        padding: 14px 0;
        color: #858585;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }

        .simpleButton a:hover
        {
            text-decoration: underline;
        }

/* Fallback styles */
.no-cssgradients .simpleButton > li
{
    background: url('/Cloud/menuBackground.gif') repeat-x;
    border-top: 0;
    border-bottom: 0;
    padding-top: 4px;
}

.no-borderradius .simpleButton
{
    background: url('/Cloud/menuBackground.gif') repeat-x;
}

    .no-borderradius .simpleButton > li:first-child
    {
        background: url('/Cloud/menuLeft.gif') no-repeat;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
    }

    .no-borderradius .simpleButton > li:last-child
    {
        background: url('/Cloud/menuRight.gif') top right no-repeat;
        margin-right: -6px;
        border: 0;
    }




/* LightBox styles */
.lightbox
{
    width: 700px;
    background: white;
}

    .lightbox .close
    {
        display: block;
        text-align: right;
        font-size: 11px;
        background-color: #efefef;
        padding: 2px 5px;
        color: #575757;
    }

        .lightbox .close:hover
        {
            font-weight: bold;
            color: #5E7B99;
        }

    .lightbox .banner
    {
        display: block;
        background: url('/Cloud/shoppingCartBackground.png') repeat-x;
    }

    .lightbox .right-align
    {
        text-align: right;
        padding: 7px;
    }

    /* bundle style */
    .lightbox .bundle
    {
        padding-top: 1.0em;
    }

/* page shade */
#shade
{
    height: 140px;
    display: none;
    color: #222;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 900px;
    background-color: #303030;
    background-image: url(/Cloud/gradientfooter2.jpg);
}

#shade_inner
{
    /*margin: 1em auto;*/
    width: 900px;
    text-align: center;
}


.shade_link
{
    padding-top: 15px;
    color: #333;
}
