html {
	height: 100%
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-repeat: repeat-x;
	background-color: #f0f0f0;
	font-size: 13px;
	line-height: 150%;
	color: #333;
	margin: 0;
	padding: 0 0 130px 0;
}

img {
	border: 0;
}

header, section, aside {
	display: block;
}

header {
	margin: 16px auto;
}

header, section {
	width: 900px;
}

section {
	background: #FFF;
	padding: 20px 0;
	margin: 8px auto;
	-webkit-border-radius: 8px;
	 -khtml-border-radius: 8px;
	   -moz-border-radius: 8px;
			border-radius: 8px;
}

section * {
	padding-left: 32px;
	padding-right: 32px;
}

h1, h2 {
	font-weight: normal;
	font-size: 20px;
	font-family: georgia, serif;
	color: #0087EC;
}

/* Menu */
.menu {
	height: 57px;
	text-align: center;
	margin: 16px 0;
	padding: 0;
	list-style: none;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	width: 100%;
}

.menu > li {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	margin: 0;
	border-top: 3px solid #00b9ff;
	border-bottom: 1px solid #0095f4;
	border-right: 1px solid #75cff7;
	background-image: -o-linear-gradient(bottom, rgb(0,129,234) 0%, rgb(0,155,245) 50%, rgb(37,178,248) 50%, rgb(13,195,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,129,234) 0%, rgb(0,155,245) 50%, rgb(37,178,248) 50%, rgb(13,195,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,129,234) 0%, rgb(0,155,245) 50%, rgb(37,178,248) 50%, rgb(13,195,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,129,234) 0%, rgb(0,155,245) 50%, rgb(37,178,248) 50%, rgb(13,195,255) 100%);
	background-image: linear-gradient(bottom, rgb(0,129,234) 0%, rgb(0,155,245) 50%, rgb(37,178,248) 50%, rgb(13,195,255) 100%);
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 6px #777;
	-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.15);
	   -moz-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.15);
			box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.15);
}

.menu > li:first-child {
	border-left: 2px solid #009cf5;
	-webkit-border-top-left-radius:		6px;
	-webkit-border-bottom-left-radius:	6px;
	-moz-border-radius-topleft:			6px;
	-moz-border-radius-bottomleft:		6px;
	border-top-left-radius:				6px;
	border-bottom-left-radius:			6px;
}

.menu > li:last-child {
	border-right: 2px solid #009cf5;
	-webkit-border-top-right-radius:	6px;
	-webkit-border-bottom-right-radius:	6px;
	-moz-border-radius-topright:		6px;
	-moz-border-radius-bottomright:		6px;
	border-top-right-radius:			6px;
	border-bottom-right-radius:			6px;
}

.menu a {
	font-family: "Arial Rounded", ArialRound, ArialRounded, Arial, sans-serif;
	display: inline-block;
	white-space: nowrap;
	width: 100%; 
	padding: 18px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

.menu a:hover {
	text-decoration: underline;
}

/* Fallback styles */
.no-cssgradients .menu > li {
	background: url('../images/button_bg.gif') repeat-x;
	border-top: 0;
	border-bottom: 0;
}

.no-borderradius .menu {
	background: url('../images/button_bg.gif') repeat-x;
}

.no-borderradius .menu > li:first-child {
	background: url('../images/button_left.gif') no-repeat;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}

.no-borderradius .menu > li:last-child {
	background: url('../images/button_right.gif') top right no-repeat;
	margin-right: -6px;
	border: 0;
}

/* page shade */
#share_shade {
	height: 130px;
	display: none;
	color: white;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	background-color: #0081EA;
	background-color: rgba(0, 129, 234, 0.75);
}

#share_shade_inner {
	height: 130px;
	position: relative;
	margin: 0 auto;
	width: 900px;
}